<html>
<head>
  <meta charset="utf-8">
  <title>Christmas Wishlist</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/business-casual.css') }}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">Christmas Wishlist</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/">My list</a></li>
          <li><a href="/">Talk with Santa</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-lg-12 text-center">
          <h2 class="intro-text">Dear Santa Claus! For Christmas I would like... </h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
