<html>
<head>
  <meta charset="utf-8">
  <title>Christmas Wishlist</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/business-casual.css') }}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">Christmas Wishlist</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/">My list</a></li>
          <li><a href="/">Talk with Santa</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% block content %}
  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-lg-12 text-center">
          <h2 class="intro-text">Dear Santa Claus! For Christmas I would like... </h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            {% endif %}
          {% endwith %}

          {{ result }}
          </br>

          <h2>My Wishlist</h2>

          <form action="{{ url_for('add') }}" method="POST" name="wishlist">
            Title: <input type="text" name="title" id="title" class="form-control" placeholder="Title" />
            Quantity: <input type="number" name="quantity" id="quantity" class="form-control" />
            Price: <input type="text" name="price" id="price" class="form-control" placeholder="Price" />
            Details: <input type="text" name="details" id="details" class="form-control" placeholder="Details" />
            <button type="submit" name="submit" id="Submit" class="btn btn-lg btn-primary btn-block">Submit</button>
          </form>
          <ul class="mywishlist">
            <li>
              <h3>Title</h3>
              <td>Quantity</td>
              <td>Price</td>
              <td>Details</td>
            </li>

            {% for wish in wishlists %}
              <li>
                <h3>{{ wish.title }}</h3>
                <p>{{ wish.quantity }} , {{ wish.price }} , {{ wish.details }}</p>
              </li>
            {% else %}
              <li>No wish has been added yet. Add your wish <a href="{{ url_for('add') }}">here</a></li>
            {% endfor %}

          </table>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>
