
<html>
<head>
  <meta charset="utf-8">
  <title>Christmas Wishlist</title>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/business-casual.css') }}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type='text/css'>
</head>

<body>
 <div class="brand">Christmas Wishlist</div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">Christmas Wishlist</a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px">
        <ul class="collapse nav navbar-nav">
          <li><a href="/index">Home</a></li>
          <li><a href="/music">Christmas vibes</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% block content %}
  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-lg-12 text-center">
          {% if session_user %}
              <h2 class="intro-text">Welcome<b> {{ session_user }}</b>!</h2>
              <p>Start creating your christmas wishlist now. Add your wish.</p>
          {% endif %}

          <h2 class="intro-text">Dear Santa Claus! For Christmas I would like... </h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            {% endif %}
          {% endwith %}
          </br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <h2 class="title">Tell us your wish here.</h2>

          <form action="{{ url_for('add') }}" method="POST" name="wishlist" id="wishform">
            Title: <input type="text" name="title" id="title" class="form-control" placeholder="Title" />
            Quantity: <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity needed" />
            Price: <input type="text" name="price" id="price" class="form-control" placeholder="Average price" />
            Details: <input type="text" name="details" id="details"
            class="form-control" placeholder="Personal information: How exactly would your wish look like?" />
            <button type="submit" name="submit" id="Submit" class="btn btn-lg btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <h2 class="title">My Wishlist</h2>
          <ul class="mywishlist">

            {% for wish in wishlists %}
              <li>
                <h3>{{ wish.title }}</h3>
                <p>Quantity needed: {{ wish.quantity }}</p>
                <p>Average price: {{ wish.price }}</p>
                <p>More personal information: {{ wish.details }}</p>
              </li>

              <strong><a href="/remove?wishid={{ wish.title }}" name="remove">Remove</a></strong>
            {% else %}
              <li>No wish has been added yet. Add your wish <a href="#wishform">now!</a></li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <h2 class="title">Send your personal message to Santa</h2>
          <form method="POST" action="mailto:santa@claus.com" class="col-lg-12 text-center">
          
          <label for="Name">Personalize your own message to Santa.</label>
          <input type="text" name="name" class="form-control" placeholder="Name">
          <input type="text" name="email" class="form-control" placeholder="Email">
          <input type="textarea" rows="4" cols="50" name="message" class="form-control" placeholder="Dear Santa, For Christmas I would like...">
          
          <input type="submit" class="btn btn-lg btn-primary">
          </form>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
<style>
  body  {
    background: url(../static/img/bg_xmastree.jpg) no-repeat center center fixed;
  }
  .brand {
    font-family: 'Pacifico', cursive;
  }
  .form-text {
    font-family: 'Aref Ruqaa', serif;
    font-size: 25px;
  }

  .title {
    color: #008410;
  }
</style>
</body>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Copyright &copy; Emma Reavley | 2016</p>
      </div>
    </div>
  </div>
</footer>
</html>
